<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <!-- HEADER -->
    <%- include('partials/header')%>
    <!-- CONTENT  -->
    <h1>Welcome to the Full Stack App</h1>
    <!-- FOOTER  -->
    <%- include('partials/footer')  %>
</body>
</html>